.container-background{
	padding: 7%;
	background-color: #2f8cba;
}
.container-grid {
	background-color: white;
	display: grid;
	grid-template-columns: 72% 28%;
}
.register-button {
	color: white;
	background: green;
	height: 50px;
	width: 90%;
}
.login-button {
	height: 50px;
	width: 90%;
}
.box-text {
	width: 90%;
}
.label-border {
	color: #fff;
	position: absolute;
	top: 70%;
	left: 10%;
	background-color: black;
	opacity: 0.6;
	height: 25%;
	width: 30%;
	padding-left: 2%;
	padding-right: 2%;
}
hr {
    border: none;
    height: 5px;
    color: white;
    background-color: white;
	
}